/* .vaccination-record-container {
    
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  h1, h2 {
    color: #333;
  }
  
  .child-info {
    background-color: #e0f7fa;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
  }
  
  .vaccination-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .vaccination-table th, .vaccination-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
  }
  
  .vaccination-table th {
    background-color: #f1f1f1;
    color: #333;
  }
  
  button {
    width: 180px; 
    padding: 10px; 
    font-size: 16px; 
    border-radius: 5px; 
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease; 
  }
  
  button:hover {
    background-color: #ddd; 
  }
  
  .book-appointment {
    background-color: #2196F3; 
    color: white;
  }
  
  .show-certificate {
    background-color: #4CAF50; 
    color: white;
  }
  
  
  .pie-chart-container {
    width: 300px;
    margin: 0 auto;
  }
   */